@import "../variable";
.badge {
  padding: 6px 11px;
  color: var(--txt-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.badge-danger {
  background-color: $main-color-red;
}

.badge-success {
  background-color: $main-color-green;
}

.badge-primary {
  background-color: $main-color-blue;
}

.badge-warning {
  background-color: $main-color-orange;
}
