.product-img {
  max-width: 300px;
  max-height: 120px;
  object-fit: cover;
}
img {
  max-width: 515px;
  max-height: 350px;
  object-fit: cover;
}
textarea {
  height: 300px;
}
select {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  border: 1px solid;
  option {
    color: #000;
  }
}
